:root {
    --blue-color: #0075ff;
    --blue-alt-color: #0d69d5;
    --orange-color: #f59e0b;
    --green-color: #22c55e;
    --red-color: #f44336;
    --grey-color: #888;
}
/* START BOX */
.d-flex {
    display: flex;
}
.f-wrap {
    flex-wrap: wrap;
}
.space-between {
    justify-content: space-between;
}
.align-center {
    align-items: center;
}
.d-grid {
    display: grid;
}
.gap-20 {
    gap: 20px;
}
.d-block {
    display: block;
}
@media (max-width:767px) {
    .hide-mobile {
        display: none;
    }
}

/* END BOX */

/* START PADDING + MARGIN */
.p-10 {
    padding: 10px;
}
.p-15 {
    padding: 15px;
}
.p-20 {
    padding: 20px;
}
.pt-15 {
    padding-top: 15px;
}
.pb-10 {
    padding-bottom: 10px;
}
.pb-15 {
    padding-bottom: 15px;
}
.pl-15 {
    padding-left: 15px;
}
.m-0 {
    margin: 0;
}
.m-15 {
    margin: 15px;
}
.m-20 {
    margin: 20px;
}
.mt-0 {
    margin-top: 0;
}
.mt-5 {
    margin-top: 5px;
}
.mt-15 {
    margin-top: 15px;
}
.mt-20 {
    margin-top: 20px;
}
.mt-25 {
    margin-top: 25px;
}
.mr-5 {
    margin-right: 5px;
}
.mr-10 {
    margin-right: 10px;
}
.mr-15 {
    margin-right: 15px;
}
.mb-5 {
    margin-bottom: 5px;
}
.mb-10 {
    margin-bottom: 10px;
}
.mb-15 {
    margin-bottom: 15px;
}
.mb-20 {
    margin-bottom: 20px;
}
/* END PADDING + MARGIN */

/* START WIDTH + HEIGHT */
.w-full {
    width: 100%;
}
.w-fit {
    width: fit-content;
}
.h-full {
    height: 100%;
}
/* END WIDTH + HEIGHT*/

/* START COLOR */
.c-black {
    color: black;
}
.c-grey {
    color: var(--grey-color);
}
.c-white {
    color: white;
}
.c-orange {
    color: var(--orange-color);
}
.c-green {
    color: var(--green-color);
}
.c-blue {
    color: var(--blue-color);
}
.c-red {
    color: var(--red-color);
}

/* END COLOR */

/* START BACKGROUND COLOR */
.bg-white {
    background-color: white;
}
.bg-eee {
    background-color: #eee;
}
.bg-blue {
    background-color: var(--blue-color);
}
.bg-orange {
    background-color: var(--orange-color);
}
.bg-green {
    background-color: var(--green-color);
}
.bg-red {
    background-color: var(--red-color);
}
/* END BACKGROUND COLOR */

/* START POSITION */
.p-relative {
    position: relative;
}
/* END POSITION */

/* START FONT */
.txt-c {
    text-align: center;
}
.fs-14 {
    font-size: 14px;
}
.fw-bold {
    font-weight: bold;
}
@media (max-width:767px) {
    .txt-c-mobile {
        text-align: center;
    }
}
@media (max-width:767px) {
    .block-mobile {
        display: block;
    }
}
/* END FONT */

/* START BORDER */
.rad-6 {
    border-radius: 6px;
}
.rad-10 {
    border-radius: 10px;
}
.rad-half {
    border-radius: 50%;
}
.b-none {
    border: none;
}
.border-ccc {
    border: 1px solid #ccc;
}
/* END BORDER */

/* START COMPONENT */
.center-flex {
    display: flex;
    align-items: center;
    justify-content: center;
}
.between-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.btn-shape {
    padding: 4px 10px;
    border-radius: 6px;
}
/* END COMPONENT */